@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  background-image: url(https://cdn.discordapp.com/attachments/653938638782070785/786516750794883072/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

 h1. {
   font-family: "Varela Round", sans-serif;
    height: 10vh;
    line-height: 10vh;
    font-size: 5vh;
    text-align: center;
}
