body {
  background-image: url(https://cdn.discordapp.com/attachments/653938638782070785/786516750794883072/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

 h1. {
   font-family: "Trebuchet MS", sans-serif;
   font-size: 5em;
   letter-spacing: -2px;
   border-bottom: 2px solid black;
   text-transform: uppercase;
 }
